<form action='/create-account' method="POST" enctype="multipart/form-data">
  <label>Which profile are you ?<select name="profilType">
      <option value='visitor' selected="selected" id='visitor-option'>Visitor</option>
      <option value='host'>Host</option>
    </select></label>
  <div id="user-form">
    <label>Firstname *<input type='text' name="firstName"></label>
    <label>Lastname *<input type='text' name="lastName"></label>
    <label>Username *<input type='text' name="userName"></label>
    <label>Email *<input type='email' name="email"></label>
    <label>Password *<input type='password' name="password"></label>
  </div>
  <div id='host-form'>
    <label>Farm name *<input type='text' name="farmName"></label>
    <label>Description *<textarea name="description"></textarea></label>
    <label>Address *<textarea name="address"></textarea></label>
    <label>Zipcode *<input type='text' name="zipCode"></label>
    <label>City *<select name="city">
        <option value='bergerac'>Bergerac</option>
        <option value='compiegne'>Compiègne</option>
        <option value='clermont-ferrand'>Clermont-Ferrand</option>
      </select></label>
    <fieldset>
      <legend>Farm type * </legend>
      <div><input type="checkbox" name="farmType" value="poultry"><label for="poultry">Poultry Farming</label></div>
      <div><input type="checkbox" name="farmType" value="pig"><label for="pig">Pig Farming</label></div>
      <div><input type="checkbox" name="farmType" value="cow"><label for="cow">Cow Farming</label></div>
      <div><input type="checkbox" name="farmType" value="sheep"><label for="sheep">Sheep Farming</label></div>
      <div><input type="checkbox" name="farmType" value="market"><label for="market">Market gardener</label></div>
      <div><input type="checkbox" name="farmType" value="viticulture"><label for="viticulture">Viticulture</label>
      </div>
      <div><input type="checkbox" name="farmType" value="beekeeping"><label for="beekeeping">Beekeeping</label></div>
      <div><input type="checkbox" name="farmType" value="cheese"><label for="cheese">Cheese maker</label></div>
      <div><input type="checkbox" name="farmType" value="dairy"><label for="dairy">Dairy maker</label></div>

    </fieldset>
    <fieldset>
      <legend>Activities available on the farm * </legend>
      <div><input type="checkbox" name="activitiesType" value="tasting"><label for="tasting">Tasting</label></div>
      <div><input type="checkbox" name="activitiesType" value="direct-selling"><label for="direct-selling">Direct
          selling</label></div>
      <div><input type="checkbox" name="activitiesType" value="workshops"><label for="workshops">Workshops</label>
      </div>
      <div><input type="checkbox" name="activitiesType" value="self-tour"><label for="self-tour">Self tour</label>
      </div>
      <div><input type="checkbox" name="activitiesType" value="guided-tour"><label for="guided-tour">Guided
          tour</label></div>
    </fieldset>

    <fieldset>
      <legend>Certifications</legend>
      <div><input type="checkbox" name="certifications" value="bio"><label for="bio">Bio</label></div>
      <div><input type="checkbox" name="certifications" value="aop"><label for="aop">AOP</label></div>
      <div><input type="checkbox" name="certifications" value="aoc"><label for="aoc">AOC</label></div>
      <div><input type="checkbox" name="certifications" value="hve"><label for="hve">HVE</label></div>
      <div><input type="checkbox" name="certifications" value="rse"><label for="rse">RSE Agro</label></div>
      <div><input type="checkbox" name="certifications" value="biodynamic"><label for="biodynamic">Biodynamic</label>
      </div>

    </fieldset>
    <fieldset>
      <legend>Public</legend>
      <div><input type="checkbox" name="public" value="children"><label for="children">Children</label>
        <div><input type="checkbox" name="public" value="seniors"><label for="seniors">Seniors</label>
          <div><input type="checkbox" name="public" value="disabled"><label for="disabled">Disabled access</label>

    </fieldset>
    <fieldset>
      <legend>Opening days *</legend>
      <div><input type="checkbox" name="openingDays" value="monday"><label for="monday">Monday</label>
        <div><input type="checkbox" name="openingDays" value="tuesday"><label for="tuesday">Tuesday</label>
          <div><input type="checkbox" name="openingDays" value="wednesday"><label for="wednesday">Wednesday</label>
            <div><input type="checkbox" name="openingDays" value="thursday"><label for="thursday">Thursday</label>
              <div><input type="checkbox" name="openingDays" value="friday"><label for="friday">Friday</label>
                <div><input type="checkbox" name="openingDays" value="saturday"><label for="saturday">Saturday</label>
                  <div><input type="checkbox" name="openingDays" value="sunday"><label for="sunday">Sunday</label>
    </fieldset>
    <label>Opening Hours *<input type='time' name="openingHoursStart">
      <input type='time' name="openingHoursEnd"></label>
    <fieldset>
      <legend>Spoken languages *</legend>
      <div><input type="checkbox" name="spokenLanguages" value="french"><label for="french">French</label>
        <div><input type="checkbox" name="spokenLanguages" value="english"><label for="english">English</label>
          <div><input type="checkbox" name="spokenLanguages" value="spanish"><label for="spanish">Spanish</label>
            <div><input type="checkbox" name="spokenLanguages" value="german"><label for="german">German</label>

    </fieldset>
    <label>Farm photo *<input type="file" name="photos" />
      {{!-- TODO Gérer la possibilité d'ajouter plusieurs photos sur la fiche host
      
      <input type="file" name="photo-2" />
      <input type="file" name="photo-3" /> --}}
    </label>
    <label>Maximum visitors *<input type='text' name="maximumVisitors"></label>

  </div>
  <button>Submit</button>
</form>