<main class="content">
  <div class="form login">
    <h1>Login</h1>
    {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
    {{/if}}
    <form action="/login" method="POST">
      <label class="field">Email<input type='text' name='email'> </label>
      <label class="field">Password<input type='password' name='password'></label>
      <button class="btn primary">Submit</button>

    </form>
  </div>
</main>