<div class="form">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label class="field">Email<input type='text' name='email'> </label>
    <label class="field">Password<input type='password' name='password'></label>
    <button>Submit</button>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>