    <main class="content homepage">
{{!-- FORMULAIRE DE RECHERCHE --}}
{{!-- SLOGAN --}}
<div class="homepage">
  <section id="page_accueil">
    <section id="slogan">
      <h2>FIND A HOST, AND MEET YOUR FOOD 🥕 </h2>
      <p>Aventurez vous dans les coulisses de votre alimentation</p>
    </section>
    <form class="formulaire-recherche" action="/hosts" method="GET">
      <!--à supprimer quand view mobile avec le .js-->
      <div id="fields">
        <section class="form-field" id="demande_lieu">
          <label for="">LOCATION</label>
          <input type="text" placeholder="Where are you ?" name="location" required>
        </section>
        <section class="form-field" id="demande_date_arrivee">
          <label>DAY OF YOUR VISIT
            <select name="day">
              <option value="">Any</option>
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Saturday</option>
              <option value="sunday">Sunday</option>
            </select>
          </label>
        </section>
        <section class="form-field" id="demande_visiteurs">
          <label for="">NUMBER OF VISITORS</label>
          <input type="number" name="visitor">
        </section>
      </div>
      <button id="loupe_recherche">
        <img id="loupe-icon" src="../images/loupe-icon.png" alt="loupe">
      </button>
    </form>
    {{!-- mobile view--}}
    <form id="formulaire-recherche-mobile" action="">
      <!--à supprimer quand view normale avec le .js-->
      <img id="loupe-icon-mobile" src="../images/loupe-icon.png" alt="loupe">
      <label for=""></label>
      <input type="text" placeholder="Où allez-vous ?">
    </form>
    {{!--EXEMPLES--}}
    {{!-- A L'AFFICHE --}}
  </section>
</div>
</main>