<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MeetYourFood</title>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css" />
</head>

<body>
  <div class="main-container">

    <header class="header-layout">
      <h1 id="logo"><a href="/" alt="MeetYourFood">MeetYourFood 🥕</a></h1>
      <nav>
        <ul id="links">
          <li><a class="boutons_hover"
              href="/hosts?location=&day=&visitor=&certification=&activityType=&farmType=&public=&language=">Meet our
              hosts</a></li>
          <li><a class="boutons_hover" href="/create-account?host=1">Become a host</a></li>
        </ul>
        <div id="account-block">
          <ul id="mon_compte">
            {{#if currentUser }}
            <a href="/profile/{{currentUser._id}}">
              <i class="far fa-user-circle"></i>
            </a>
            {{else}} 
            <a href="/login">
              <i class="far fa-user-circle"></i>
            </a> 
            {{/if}} 
            <div id="account-links">
              {{#if currentUser }} 
              <li id="login-btn">
                <a href="/logout"> Logout</a>
              </li>
              {{else}}               
              <li id="login-btn">
                <a href="/login">Login</a>
              </li>
              {{/if}}              
              <li id="create-account">
                <a href="/create-account">Create an account</a>
              </li>
            </div>
          </ul>
        </div>
      </nav>
    </header>

    <main class="content">
      {{{body}}}
    </main>

    <footer id="footer-layout">
      <ul id="sommaire">
        <ul>
          <li>ABOUT</li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
        <ul>
          <li>COMMUNITY</li>
          <li><a href="#">Partnerships</a></li>
          <li><a href="#">Share with friends</a></li>
        </ul>
        <ul>
          <li>HOST</li>
          <li><a href="/create-account?host=1">Become a host</a></li>
          <li><a href="#">Share with friends</a></li>
        </ul>
        <ul>
          <li>ASSISTANCE</li>
          <li><a href="#">Help center</a></li>
          <li><a href="#">Cancel options</a></li>
        </ul>
      </ul>
      <hr>
      <section id="bottom_footer">
        <p>©2020 MeetYourFood, Inc. All rights reserved</p>
        <ul id="liens">
          <li>Cookie policy and Personal data</li>
          <li>Legal notice</li>
          <li>Sitemap</li>
        </ul>
        {{!-- <ul>
        <li>langue de la page</li>
        <!--langage of the page-->
        <li>devise de la page</li>
        <!--currency of the page-->
      </ul> --}}
        <ul id="liens_reseaux">
          <li>
            <a href="#"><i class="fab fa-facebook"></i> </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </section>
    </footer>
  </div>
  <script type="text/javascript" src="../javascripts/script.js"></script>
</body>

</html>