<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeetYourFood</title>
 <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <header class="header-layout">
      <nav id="barre-d-accueil">
        <a href="/"><img src="#" alt="logo" /></a>
        <ul>
          <li><a class="boutons_hover" href="/product_hote"> Devenir product'hôte</a></li>
          <li><a class="boutons_hover" href="#"> Langues</a></li>
          <li id="mon_compte">
            <i class="fas fa-user-circle"></i>
            <a href="/mon_compte"> Mon compte</a></li>
        </ul>
      </nav>
    </header>
    <main>
       {{{body}}}
    </main>
    <footer id="footer-layout">
      <ul id="sommaire">
        <ul>
          <li>A PROPOS</li>
          <li><a href="#">Fonctionnement</a></li>
          <li><a href="#">Carrière</a></li>
        </ul>
        <ul>
          <li>COMMUNAUTE</li>
          <li><a href="#">Partenariat</a></li>
          <li><a href="#">Inviter des amis</a></li>
        </ul>
        <ul>
          <li>HOTE</li>
          <li><a href="#">Accueillir des visiteurs</a></li>
          <li><a href="#">Inviter des amis</a></li>
        </ul>
        <ul>
          <li>ASSISTANCE</li>
          <li><a href="#">Centre d'aide</a></li>
          <li><a href="#">Options d'annulation</a></li>
        </ul>
      </ul>
      <hr>
      <section id="bottom_footer">
        <p>©2020 MeetYourFood, Inc. All rights reserved</p>
        <ul id="liens">
          <li>Confidentialité</li>
          <li>Termes</li>
          <li>Plan de site</li>
        </ul>
        <ul>
          <li>langue de la page</li>
          <!--langage of the page-->
          <li>devise de la page</li>
          <!--currency of the page-->
        </ul>
        <ul id="liens_reseaux">
          <li>
            <a href="#"><i class="fab fa-facebook"></i> </a>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li> 
        </ul>
      </section>
    </footer>
  </body>
</html>
