<div>
    <form action="">
        <label for="localisation">Localisation</label>
            <input type="text" name="localisation">
        <label for="nature">Nature de la production</label>
            <input type="text" name="nature">
        <label for="activité">Activités possibles</label>
            <input type="text" name="activité">
        <button>Créer mon compte</button>
    </form>
</div>