<main id="resultat-recherche">
    <form id="formulaire-recherche-rappel" action=""> <!--à supprimer quand view mobile avec le .js-->
        <section class="section_hover" id="lieu_demande">
            <p>lieu</p>
        </section>
        <div class="separateur_vertical"></div>
        <section class="section_hover" id="dates_demandees">
            <p>dates</p>
        </section>
        <div class="separateur_vertical"></div>
        <section class="section_hover" id="visiteurs_prevu">
            <p>nbreVisiteurs</p>
        </section>
        <section id="loupe_recherche">
            <img id="loupe-icon" src="images/loupe-icon.png" alt="loupe">
        </section>
    </form>
    {{!-- mobile view--}}
    <form id="formulaire-recherche-mobile" action=""> <!--à supprimer quand view normale avec le .js-->
        <img id="loupe-icon-mobile" src="images/loupe-icon.png" alt="loupe">
        <label for="" ></label>
        <input type="text" placeholder="Où allez-vous ?">
    </form>    
    <section id="liste-de-recherche">
        <h1>Logements [lieu]{{lieu}}</h1>
        <div>
            <hr>
            <div class="annonce">
                <img src="https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="photo-lieu">
                <div id="caractérisiques-synthese">
                    <div>
                        <h3>catégorie et lieu</h3>
                        <h2>Titre de l'annonce</h2>
                        <p>sous réservation/libre</p>
                        <p>natures de la production (maraichers, viandes, cereals, vigne, fromage...)</p>
                        <p>certifications (AOP, bio, biodynamique)</p>
                        <p>type d'activité (achat, visite, ateliers...)</p>
                        <p>note donnée par les visiteurs (nbre de visites déjà effectuées)</p>
                    </div>
                    <p id="prix-synthese">panier moyen</p>
                </div>
            </div>
            <hr>
        </div>
    </section>
</main>