* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

/*
##     ## ########    ###    ########  ######## ########  
##     ## ##         ## ##   ##     ## ##       ##     ## 
##     ## ##        ##   ##  ##     ## ##       ##     ## 
######### ######   ##     ## ##     ## ######   ########  
##     ## ##       ######### ##     ## ##       ##   ##   
##     ## ##       ##     ## ##     ## ##       ##    ##  
##     ## ######## ##     ## ########  ######## ##     ## 
*/

/* barre d'accueil HOME */

.header-home {
  height: 100vh;
  background: url('../images/ble.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.header-home #barre-d-accueil,
.header-layout #barre-d-accueil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

@media (max-width: 740px) {
  .header-home #barre-d-accueil {
    visibility: hidden;
  }
  .header-layout #barre-d-accueil {
    visibility: hidden;
  }
}

.header-home ul,
.header-layout ul,
#footer-layout ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
}

.header-home li a,
.header-layout li a,
#footer-layout li a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

@media (max-width: 740px) {
  #footer-layout ul {
    flex-direction: column;
  }
}

.header-home .boutons_hover,
.header-layout .boutons_hover {
  padding: 8px;
}

.header-home .boutons_hover:hover,
.header-layout .boutons_hover:hover {
  background: rgba(249, 165, 92, 0.2);
  border-radius: 40px;
}

.header-home #mon_compte {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0px;
}

.header-home #mon_compte i,
.header-layout #mon_compte i {
  padding-right: 2px;
}

.header-home #mon_compte:hover {
  background: rgba(242, 245, 247, 0.2);
  border-radius: 40px;
}

/* barre d'accueil LAYOUT */

.header-layout {
  color: black;
}

.header-layout #mon_compte {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

.header-layout #mon_compte:hover {
  border: 1px solid rgba(82, 83, 83, 0.2);
  border-radius: 35px;
  box-shadow: 1px 1px 0px grey;
}

/*PAGE header-home > formulaire de recherche*/

.header-home #formulaire-recherche-mobile {
  visibility: hidden;
}

.header-home #formulaire-recherche {
  background: rgba(254, 205, 136, 0.6);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 848px;
  border-radius: 60px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.363);
  display: flex;
}

@media (max-width: 928px) {
  /* à partir de 928px, la taille du formulaire de recherche n'est plus fixe elle réduit quand on réduit la page pour qu'elle rentre dans la page*/
  .header-home #formulaire-recherche {
    width: 95%;
  }

  .header-home #formulaire-recherche #demande_lieu,
  .header-home #formulaire-recherche #demande_date_arrivee,
  .header-home #formulaire-recherche #demande_date_depart,
  .header-home #formulaire-recherche #demande_visiteurs {
    width: 22%;
  }
}

@media (max-width: 740px) {
  /* passer en mode mobile */
  .header-home #formulaire-recherche {
    visibility: hidden;
  }

  .header-home #formulaire-recherche-mobile {
    visibility: visible;
  }
}

.header-home #formulaire-recherche-mobile {
  background: rgba(254, 205, 136, 0.6);
  border-radius: 50px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 50px;
}

.header-home #formulaire-recherche-mobile #loupe-icon-mobile {
  width: 25px;
  align-self: center;
  margin-right: 10px;
}

.header-home #formulaire-recherche-mobile input {
  color: grey;
  border: none;
  height: 35px;
  background: none;
  font-size: 13px;
  font-family: inherit;
  align-self: center;
  width: 210px;
}

.header-home #formulaire-recherche-mobile input:focus {
  outline: none;
}

.header-home #formulaire-recherche section {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 70px;
  justify-content: center;
}

.header-home #formulaire-recherche #demande_lieu {
  padding: 10px 1em 10px 3em;
}

.header-home #formulaire-recherche label {
  color: green;
  margin-bottom: 10px;
  font-size: 15px;
}

.header-home #formulaire-recherche input {
  color: grey;
  border: none;
  height: 35px;
  background: none;
  font-size: 13px;
  font-family: inherit;
}

.header-home #formulaire-recherche input:focus {
  outline: none;
}

.header-home #formulaire-recherche .section_hover:hover,
.header-home #formulaire-recherche .section_hover input:hover {
  background: rgba(225, 150, 80, 0.3);
  cursor: pointer;
}

.header-home #formulaire-recherche .section_hover label:hover {
  cursor: pointer;
}

.header-home #formulaire-recherche .separateur_vertical {
  background: grey;
  width: 1px;
  padding: -7px 0px;
  margin: 22px 0px;
}

.header-home #formulaire-recherche section:last-child {
  margin: 0;
  padding-left: 0px;
}

.header-home #formulaire-recherche section:last-child:hover {
  background: transparent;
}

.header-home #formulaire-recherche #loupe-icon {
  width: 60px;
  background: rgba(255, 20, 147, 1);
  color: black;
  padding: 8px;
  border-radius: 30px;
}

.header-home #formulaire-recherche #loupe_recherche {
  flex: 1;
  padding-right: 10px;
  padding-left: 5px;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}

.header-home #formulaire-recherche #loupe-icon:hover {
  background: rgba(197, 52, 131, 1);
  cursor: pointer;
}

.header-home #formulaire-recherche #loupe_recherche:hover {
  cursor: pointer;
}

.header-home #formulaire-recherche #demande_visiteurs {
  padding-right: 0px;
}

.header-home #slogan {
  text-shadow: 1px 1px 8px black;
  font-size: 20px;
  margin-top: 58px;
}

.header-home #slogan h1 {
  font-size: 32px;
}

.header-home #slogan p {
  font-size: 20px;
}

/*PAGE resultat-recherche > formulaire de recherche*/

#resultat-recherche {
  padding: 10px 40px;
}

#resultat-recherche #formulaire-recherche-mobile {
  visibility: hidden;
}

#resultat-recherche #formulaire-recherche-rappel {
  background: rgba(254, 205, 136, 0.6);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 415px;
  height: 60px;
  border-radius: 60px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.363);
  display: flex;
}

@media (max-width: 928px) {
  #resultat-recherche #formulaire-recherche-rappel #lieu_demande,
  #resultat-recherche #formulaire-recherche-rappel #dates_demandees,
  #resultat-recherche #formulaire-recherche-rappel #demande_visiteurs {
    width: 30%;
  }
}

@media (max-width: 740px) {
  /* passer en mode mobile */
  #resultat-recherche #formulaire-recherche-rappel {
    visibility: hidden;
  }

  #resultat-recherche #formulaire-recherche-mobile {
    visibility: visible;
  }
}

#resultat-recherche #formulaire-recherche-mobile {
  background: rgba(254, 205, 136, 0.6);
  border-radius: 50px;
  display: flex;
  padding-left: 15px;
  align-items: center;
  height: 50px;
}

#resultat-recherche #formulaire-recherche-mobile #loupe-icon-mobile {
  width: 25px;
  align-self: center;
  margin-right: 10px;
}

#resultat-recherche #formulaire-recherche-mobile input {
  color: grey;
  border: none;
  height: 35px;
  background: none;
  font-size: 13px;
  font-family: inherit;
  align-self: center;
  width: 210px;
}

#resultat-recherche #formulaire-recherche-mobile input:focus {
  outline: none;
}

#resultat-recherche #formulaire-recherche-rappel section {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  border-radius: 70px;
  justify-content: center;
  width: 30%;
}

#resultat-recherche #formulaire-recherche-rappel #lieu_demande {
  padding: 10px 1em 10px 2em;
}

.header-home #formulaire-recherche-rappel label {
  color: green;
  margin-bottom: 10px;
  font-size: 15px;
}

#resultat-recherche #formulaire-recherche-rappel input {
  color: grey;
  border: none;
  height: 35px;
  background: none;
  font-size: 13px;
  font-family: inherit;
}

#resultat-recherche #formulaire-recherche-rappel input:focus {
  outline: none;
}

#resultat-recherche #formulaire-recherche-rappel .section_hover:hover,
.section_hover input:hover {
  cursor: pointer;
}

#resultat-recherche #formulaire-recherche-rappel .section_hover label:hover {
  cursor: pointer;
}

#resultat-recherche #formulaire-recherche-rappel .separateur_vertical {
  background: grey;
  width: 1px;
  margin: 22px 0px;
}

#resultat-recherche #formulaire-recherche-rappel section:last-child {
  margin: 0;
  padding-left: 0px;
}

#resultat-recherche #formulaire-recherche-rappel #loupe-icon {
  width: 40px;
  background: rgba(255, 20, 147, 1);
  color: black;
  padding: 8px;
  border-radius: 30px;
}

#resultat-recherche #formulaire-recherche-rappel #loupe_recherche {
  flex: 1;
  padding-right: 10px;
  padding-left: 5px;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}

#resultat-recherche #formulaire-recherche-rappel #loupe-icon:hover {
  background: rgba(197, 52, 131, 1);
  cursor: pointer;
}

.header-home #formulaire-recherche-rappel #loupe_recherche:hover {
  cursor: pointer;
}

#resultat-recherche #formulaire-recherche-rappel #visiteurs_prevu {
  padding-right: 0px;
}

/* 
##     ##    ###    #### ##    ## 
###   ###   ## ##    ##  ###   ## 
#### ####  ##   ##   ##  ####  ## 
## ### ## ##     ##  ##  ## ## ## 
##     ## #########  ##  ##  #### 
##     ## ##     ##  ##  ##   ### 
##     ## ##     ## #### ##    ## 
 */

#resultat-recherche .annonce {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

#resultat-recherche .annonce p {
  font-size: 12px;
}

#resultat-recherche .annonce img {
  width: 300px;
  align-self: center;
  border-radius: 20px;
}

#resultat-recherche #caractérisiques-synthese {
  width: 45%;
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
}

#caractérisiques-synthese #prix-synthese {
  text-align: end;
  margin-top: 15px;
}
/*
########  #######   #######  ######## ######## ########  
##       ##     ## ##     ##    ##    ##       ##     ## 
##       ##     ## ##     ##    ##    ##       ##     ## 
######   ##     ## ##     ##    ##    ######   ########  
##       ##     ## ##     ##    ##    ##       ##   ##   
##       ##     ## ##     ##    ##    ##       ##    ##  
##        #######   #######     ##    ######## ##     ## 
*/
/* footer sommaire */

#footer-layout #sommaire ul {
  padding-left: 0px;
  justify-content: space-between;
}

#footer-layout #sommaire ul {
  flex-direction: column;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer-layout #sommaire ul li {
  margin: 4px;
  font-weight: 800;
}

#footer-layout #sommaire ul li :nth-child(1) {
  font-weight: 200;
}

/* bottom footer */
#footer-layout {
  background: #ebe6e1;
}

#footer-layout #bottom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}

@media (max-width: 740px) {
  #footer-layout #bottom_footer {
    flex-direction: column;
    align-items: start;
  }

  #footer-layout #bottom_footer > ul {
    display: flex;
    flex-direction: row;
  }

  #footer-layout #bottom_footer ul li {
    margin-right: 5px;
  }
}

@media (min-width: 740px) and (max-width: 1024px) {
  #footer-layout #bottom_footer {
    flex-direction: column;
    align-items: center;
  }
}

#footer-layout #bottom_footer img {
  width: 2em;
}

#footer-layout #bottom_footer ul {
  align-items: center;
}

#footer-layout #bottom_footer ul li {
  margin: 2px;
}

.header-layout,
.header-home,
#footer-layout #sommaire,
#footer-layout #bottom_footer {
  padding: 10px 40px;
  justify-content: space-evenly;
}

@media (max-width: 375px) {
  .header-layout,
  #footer-layout #sommaire,
  #footer-layout #bottom_footer {
    padding: 10px 20px;
  }
}

#footer-layout i {
  font-size: 20px;
}

#footer-layout #liens_reseaux {
  display: flex;
  justify-content: flex-end;
}
