@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: 'Barlow', sans-serif;
}

.homepage {
  background: url('https://res.cloudinary.com/nina3am/image/upload/v1601452001/meet-your-food/466658-PFX5MG-6_m3ynfh.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-layout a,
.header-home a {
  text-decoration: none;
  color: black;
}

.header-layout,
.header-home {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #F2F2F2;
  width: 100%;
  // padding: 30px;
}

.header-home #logo,
.header-layout #logo {
  font-size: 25px;
  margin-right: auto;
  align-items: center;
  padding-left: 45px;

}

.header-home nav,
.header-layout nav {
  font-weight: 700;
  display: flex;
}

.header-layout ul,
.header-home ul {
  list-style-type: none;
}

.header-layout li,
.header-home li {
  margin-left: 25px
}

.header-layout #links,
.header-home #links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 45px;
}

#account-block {
  background: #F2C94C;
  height: 90px;
  display: flex;
  padding-right: 20px;
}

.fa,
.far,
.fas {
  font-size: 40px;
}

.header-layout #account-links li,
.header-home #account-links li {
  padding-top: 10px;
  padding-bottom: 10px
}

.header-layout #create-account,
.header-home #create-account {
  border-top: 1px solid black;
}

.header-layout #mon_compte,
.header-home #mon_compte {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  text-align: center;
}